{% extends 'front_end/base.html.twig' %}

{% block body %}



    <!-- breadcumb-area start -->
    <div class="breadcumb-area flex-style  black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Sevices Page</h2>
                    <ul class="d-flex">
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fa fa-angle-double-right"></i></li>
                        <li><span>Service</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- about-area start -->
    <div class="service-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service-wrappper">
                        <img src="assets/images/service/1.jpg" alt="">
                        <div class="service-contents">
                            <h3><a href="service-details.html">Profits Bitcoin </a></h3>
                            <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service-wrappper">
                        <img src="assets/images/service/2.jpg" alt="">
                        <div class="service-contents">
                            <h3><a href="service-details.html">Exchange Bitcoin</a></h3>
                            <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service-wrappper">
                        <img src="assets/images/service/3.jpg" alt="">
                        <div class="service-contents">
                            <h3><a href="service-details.html">Exchange Bitcoin</a></h3>
                            <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service-wrappper">
                        <img src="assets/images/service/4.jpg" alt="">
                        <div class="service-contents">
                            <h3><a href="service-details.html">Worldwide Bitcoin</a></h3>
                            <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service-wrappper">
                        <img src="assets/images/service/5.jpg" alt="">
                        <div class="service-contents">
                            <h3><a href="service-details.html">Safe And Secure</a></h3>
                            <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service-wrappper">
                        <img src="assets/images/service/6.jpg" alt="">
                        <div class="service-contents">
                            <h3><a href="service-details.html">Covered By Insurance</a></h3>
                            <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area end -->

    <!-- nvestments-area start -->
    <div class="nvestments-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="nvestments-wrap">
                        <h2>Need to<span> take care </span> <br> of your Currency Investments</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        <ul>
                            <li><a href="#">View Services</a></li>
                            <li><a href="contact.html"> CONTACT US</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="nvestments-img">
                        <img src="assets/images/bg/1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- nvestments-area end -->

    <!-- team-area start -->
    <div class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Our Experts Team</h2>
                        <img src="assets/images/line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/1.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h4>Conner Wilkinson</h4>
                            <p>UX / Web Designer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/2.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h4>Carolina Velez</h4>
                            <p>Web Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/3.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h4>Michael Arinze</h4>
                            <p>Marketing Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/4.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h4>Ashleigh Nelin</h4>
                            <p>Apps Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team-area end -->


{% endblock %}