{% extends 'front_end/base.html.twig' %}

{% block body %}


    <!-- slider-area start -->
    <div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="slider-items">
                <img src="assets/images/slider/1.jpg" alt="" class="slider">
                <div class="slider-content flex-style">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-10 col-12">
                                <h2>Nós somos  o seu <span>Parceiro</span> perfeito</h2>
                                <p>Formação profissional, no dominio da contabilidade, fiscalidade, Gestão de recursos humanos e liderança, com elevada qualidade.</p>
                                <ul>
                                    <li><a href="#">Ler mais</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-items">
                <img src="assets/images/slider/2.jpg" alt="" class="slider">
                <div class="slider-content flex-style">
                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-4 col-lg-8 text-right col-12">
                                <h2>Eficácia e <span>Eficiência</span> </h2>
                                <p>Levando um serviço com elevada qualidade, focando no que é melhor para os nossos clientes.</p>
                                <ul>
                                    <li><a href="#">Ler mais</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-area end -->

    <!-- featured-area start -->
    <div class="featured-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="featured-wrap">
                        <div class="featured-img">
                            <img src="assets/images/featured/1.jpg" alt="">
                        </div>
                        <h2><a href="#">Formação</a></h2>
                        <p>There are many variations of passages of Lorem the Ipsum available, but the majority have suffered that alteration in some form.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="featured-wrap">
                        <div class="featured-img">
                            <img src="assets/images/featured/2.jpg" alt="">
                        </div>
                        <h2><a href="#">Consultoria</a></h2>
                        <p>There are many variations of passages of Lorem the Ipsum available, but the majority have suffered that alteration in some form.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="featured-wrap">
                        <div class="featured-img">
                            <img src="assets/images/featured/3.jpg" alt="">
                        </div>
                        <h2><a href="#">Acompanhamento</a></h2>
                        <p>There are many variations of passages of Lorem the Ipsum available, but the majority have suffered that alteration in some form.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- featured-area end -->

    <!-- about-area start -->
    <div class="featured-content-area position-relative bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="featured-content-wrap">
                        <h2><span>LEvamos te ao sucesso</span>O seu Negocio crescendo</h2>
                        <p>A nossa missão é de gerar verdadeiras transformações aos nossos clientes e parceiros, assente em valores de Respeito, Honestidade, Cumplicidade e Transparência..</p>
                        <a href="#">Contacten-nos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-content-img d-none d-lg-block">
            <img src="assets/images/about.png" alt="">
        </div>
    </div>
    <!-- about-area end -->

    <!-- service-area start -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Somos o seu parceiro perfeito</h2>
                        <img src="assets/images/line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="service-wrap">
                        <h3>Oque nos te oferecemos</h3>
                        <p>Tem como objectivo ser uma das dez empresas Angolanas líder na formação profissional, no dominio da contabilidade, fiscalidade, Gestão de
                            recursos humanos e liderança, com elevada qualidade na prestação de
                            serviços com recurso as tecnologias de informação e comunicação</p>
                        <a href="#">Free Consultation</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="service-items">
                        <span class="flaticon-bitcoin-9"></span>
                        <h3> Gestão de Recursos Humanos</h3>
                        <p>There are many variations of Lorem Ipsum available but the about  some majority have form randomised words which believable.</p>
                    </div>
                    <div class="service-items">
                        <span class="flaticon-profits"></span>
                        <h3>contabilidade e Fiscalidade</h3>
                        <p>There are many variations of Lorem Ipsum available but the about  some majority have form randomised words which believable.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="service-items">
                                <span class="flaticon-exchange-1"></span>
                                <h3> Liderança</h3>
                                <p>There are many variations of Lorem Ipsum available but the about  some majority have form randomised words which believable.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="service-items">
                                <span class="flaticon-bitcoin-7"></span>
                                <h3>Experiencia e confiança</h3>
                                <p>There are many variations of Lorem Ipsum available but the about  some majority have form randomised words which believable.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-area end -->


    <!-- about-area start -->
    <div class="about-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Mais Sobre nós</h2>
                        <img src="assets/images/line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="about-img">
                        <img src="assets/images/about/1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-content">
                        <h3>Venda de material de escritorio ( Consumiveis ) a grosso e a retalho
                            com entrega ao domicilio, temos disponiveis os seguintes
                            consumiveis: lapís, esferograficas, borrachas, impressoras, tinteiros,
                        </h3>
                        <p>apagadores, correctores, reguas, molas, clips, livros, agrafadores,
                            grampos, furador, envelopes, molas para encadernar, capas de
                            arquivos, porta canetas, sextos de lixo, resmas de papel, envelopes,
                            folha de 25 linhas, cartolinas, capa de processos, elásticos, micas,
                            cadernos, apagadores, entre outros produtos.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <div class="about-items">
                                <img src="assets/images/about/icon/1.png" alt="">
                                <span class="counter">1454</span>
                                <p>Support Countrie</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items">
                                <img src="assets/images/about/icon/2.png" alt="">
                                <span class="counter">759</span>
                                <p>Bank Support</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items mb-0">
                                <img src="assets/images/about/icon/3.png" alt="">
                                <span class="counter">1250</span>
                                <p>BitCoin ATMs</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items mb-0">
                                <img src="assets/images/about/icon/4.png" alt="">
                                <span class="counter">2391</span>
                                <p>Producers Ready</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area end -->

    <!-- testmonial-area start -->
    <div class="testmonial-area">
        <div class="test-active owl-carousel">
            <div class="test-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="test-img">
                                <img src="assets/images/test/1.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-8 col-12">
                            <div class="test-content">
                                <h2>Bruce Sparks</h2>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                <span class="fa fa-quote-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="test-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-lg-3 col-sm-4 col-12">
                            <div class="test-img">
                                <img src="assets/images/test/1.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-8 col-12">
                            <div class="test-content">
                                <h2>Bruce Sparks</h2>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                <span class="fa fa-quote-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testmonial-area end -->

    <!-- spacial-area start -->
    <div class="spacial-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-12">
                    <h2>O que me motiva é uma forma muito comum de motivação. Com outras pessoas contando comigo, é tão fácil ser motivado.</h2>
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-12">
                            <ul class="mb-20">
                                <li><i class="fa fa-check"></i> There are many variations of passages of Lorem Ipsum available, </li>
                                <li><i class="fa fa-check"></i> There are many variations of passages of Lorem Ipsum available, </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-6 col-12">
                            <ul>
                                <li><i class="fa fa-check"></i> There are many variations of passages of Lorem Ipsum available, </li>
                                <li><i class="fa fa-check"></i> There are many variations of passages of Lorem Ipsum available, </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- spacial-area end -->

    <!-- resorce-area start -->
    <div class="resorce-area bg-1 ptb-120 hidden" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Our Market Resource</h2>
                        <img src="assets/images/line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-12">
                    <ul class="resorce-menu row">
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/usd</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/eur</h4>
                                <p>1745.0008</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/rub</h4>
                                <p>0014.2156</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/usd</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/eth</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/eur</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/eth</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/usd</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info mb-0">
                                <h4>btc/eth</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info mb-0">
                                <h4>btc/usd</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="resorce-wrap">
                        <div id="chartContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- resorce-area end -->

    <!-- expart-area start -->
    <div class="expart-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-5 col-12">
                    <div class="expart-wrap">
                        <h2>A Eliira têm Formadores altamente qualificados e com vasta experiência .</h2>
                        <p>Has áreas de actuação, para atender as necessidades do nosso público alvo,
                            bem como salas de formação
                            devidamente equipadas para as
                            formações, garantindo desta
                            forma um ambiente propicio
                            para a transmissão de
                            conhecimento e
                            consequentemente a
                            aprendizagem, usando material
                            didático adequado .</p>
                        <a href="#">Ler mais <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="expart-img d-none d-lg-block">
            <img src="assets/images/bg/expart.png" alt="">
        </div>
    </div>
    <!-- expart-area end -->

    <!-- contact-area start -->
    <div class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-5 col-12">
                    <div class="contact-wrap  flex-style">
                        <h2>fale connosco</h2>
                        <form action="#">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-sm-6 col-12">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="col-sm-6 col-12">
                                    <input type="text" placeholder="Phone">
                                </div>
                                <div class="col-sm-6 col-12">
                                    <input type="text" placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea cols="30" rows="10" placeholder="Massage"></textarea>
                                </div>
                                <div class="col-12">
                                    <button>Submit Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-img d-none d-lg-block">
            <img src="assets/images/bg/2.jpg" alt="">
        </div>
    </div>
    <!-- contact-area end -->

    <!-- team-area start -->
    <div class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>A nossa equipe</h2>
                        <img src="assets/images/line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/1.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h4>Conner Wilkinson</h4>
                            <p>UX / Web Designer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/2.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h4>Carolina Velez</h4>
                            <p>Web Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/3.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h4>Michael Arinze</h4>
                            <p>Marketing Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="assets/images/team/4.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h4>Ashleigh Nelin</h4>
                            <p>Apps Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team-area end -->

    <!-- nvestments-area start -->
    <div class="nvestments-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="nvestments-wrap">
                        <h2>Tomamos <span> Conta </span> <br> do seu Negocio</h2>
                        <p>Venda de material de escritorio ( Consumiveis ) a grosso e a retalho
                            com entrega ao domicilio, temos disponiveis os seguintes
                            consumiveis: lapís, esferograficas, borrachas, impressoras, tinteiros.</p>
                        <ul>
                            <li><a href="#">View Services</a></li>
                            <li><a href="#"> CONTACT US</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="nvestments-img">
                        <img src="assets/images/bg/1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- nvestments-area end -->

    <!-- blog-area start -->
    <div class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Ultimas novidades</h2>
                        <img src="assets/images/line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="assets/images/blog/1.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Digital Marketo Moved To Their New Office</a></h3>
                            <ul>
                                <li><a href="#">Jhon Simith</a></li>
                                <li><a href="#">2 May, 2017</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                            <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                            <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="assets/images/blog/2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Welcome To Our New Head Of Production</a></h3>
                            <ul>
                                <li><a href="#">Jhon Simith</a></li>
                                <li><a href="#">2 May, 2017</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                            <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                            <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="assets/images/blog/1.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Digital Marketo Launched Their Website</a></h3>
                            <ul>
                                <li><a href="#">Jhon Simith</a></li>
                                <li><a href="#">2 May, 2017</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                            <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                            <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}